.carousel {
  position: relative;
  margin: auto;
  width: 90%;
}

.carousel .item {
  display: none;
  /*transition: left 0.6s ease-in-out 0s;*/
}

.carousel .active, .carousel .prev, .carousel .next {
  display: block;
}

.carousel .active {
  left: 220px;
  margin: auto;
  position: absolute;
  z-index: 10;
}

.carousel .next {
  left:400px;
  position: absolute;
  opacity: 0.4;
}

.carousel .prev {
  left: 30px;
  position: absolute;
  opacity: 0.4;
}

.carousel .prev img, .carousel .next img {
  -webkit-transform: scale(0.85); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.85); /* FF3.5+ */
      -ms-transform: scale(0.85); /* IE9 */
       -o-transform: scale(0.85); /* Opera 10.5+ */
          transform: scale(0.85);
}